{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="dark-text">Photographers</h1>
	<div id="grad1"></div>

	<div class="form-group row justify-content-center align-items-center">
		<form action="{{ path('app_photographers') }}" method="get" class="form-inline">
		<div class="mx-1">
			<input name="filter" type="text" class="form-control form-control-sm" placeholder="City/State/Country">
			</div>
			<div class="mx-1">
			<button type="submit" class="btn btn-primary btn-sm">Filter</button>
			</div>
		</form>
	</div>

	{% if users is empty %}
		<p>The photographer list is empty! Check your filter and try again</p>
		{{ app.request.query.get("page") }}
	{% endif %}

	{% for user in users %}
		<div class="card text-white bg-dark my-3">
			<a href="{{ path('app_userGallery', {'username':user.username}) }}" class="stretched-link"></a>
			<div class="card-header">
				<div class="row">
					<div class="col-4">
						<p class="" style="font-size:20px">{{ user.username }}</p>
					</div>
					<div class="text-muted col-8">
						<p>{{ user.city }},
							{{ user.country }}</p>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
                    	{# avatar #}
						<div class="col col-lg-3 col-xl-2 my-2">
							{% if user.avatar %}
								<div class="center-vertical">
									<img src="{{ asset('uploads/avatars/' ~ user.avatar) }}" class="image img-fluid" style="border-radius: 50%;vertical-align: middle;" alt="User-avatar">
								</div>
							{% endif %}
						</div>
                        {# pictures #}
						{% for img in user.getImages() | slice(0,5) %}
							<div class="col col-md-4 col-lg-3 col-xl-2 my-1">
								<div class="center-vertical">
									<img src="{{ asset('uploads/gallery/' ~ img.name) }}" class="image img-fluid rounded" style="vertical-align: middle;" alt="User's picture sample">
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	{% endfor %}

	<div class="navigation row justify-content-center align-items-center">
        {{ knp_pagination_render(users) }}
    </div>
{% endblock %}
