{% extends 'base.html.twig' %}

{% block title %}User profile{% endblock %}

{% block body %}
    <h1 class="dark-text">{{ user.username }} profile</h1>
    <div id="grad1"></div>
    <br>
    <div class="row mb-3">
        <div class="col-8"><h5>Name: {{ user.name }}</h5></div>
        {% if user.avatar %}
            <div clas="col-4"><img src="{{ asset('uploads/avatars/' ~ user.avatar) }}" class="img-fluid mb-4" width="300" height="300"></div>
        {% endif %}
        </div>
        {% if app.user and app.user.id == user.id %}    
        <div class="row mb-3">
            <div class="col-8">
                <h5>Email: {{ user.email }}</h5>
        </div>
        {% endif %}
    </div>

    {% if app.user and app.user.id == user.id %}    
    <h3>Update your profile:</h3>
    <div id="grad1"></div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="Update" class="btn btn-success"/>
        </div>
        {{ form_end(form) }}
        <br>
    {% endif %}
{% endblock %}