{% extends 'base.html.twig' %}

{% block title %}User profile{% endblock %}

{% block body %}
    <h1 class="dark-text">{{ user.username }} profile</h1>
    <div id="grad1"></div>

    <div class="col-md-12 my-4">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <h5 class="pb-3">Name: {{ user.name }}</h5>
                {% if app.user and app.user.id == user.id %}
                    <h5 class="pb-3">Email: {{ user.email }}</h5>
                {% endif %}
                <h5 class="pb-3">Location: </h5>
            </div>
            <div class="col-md-4">
                {% if user.avatar %}
                    <img src="{{ asset('uploads/avatars/' ~ user.avatar) }}"
                         class="rounded" height="250" width="250">
                {% endif %}
            </div>
        </div>
    </div>
    <div id="grad1"></div>


    {% if app.user and app.user.id == user.id %}
        <div class="py-4">
            <h3 class="pb-1">Update your profile:</h3>
            <div id="grad1"></div>
            <button class="btn btn-info my-2" onclick="showForm()">Show/hide form</button>
            {{ form_start(form, {'attr': {'id': 'hidden-form', 'style':'display:none'}}) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="Update" id="user_profile_form-button" class="btn btn-success"/>
            </div>
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function showForm() {
            var form = document.getElementById("hidden-form");
            if (form.style.display === "none") {
                form.style.display = "block";
                //bttn.style.display = "block";
            } else {
                form.style.display = "none";
                //bttn.style.display = "none";
            }
        }
    </script>
{% endblock %}