{% extends 'base.html.twig' %}

{% block title %}
    {{ user.username }}
    profile
{% endblock %}

{% block body %}
    <h1 class="dark-text">{{ user.username }}
        profile</h1>
    <div id="grad1"></div>

    <div class="col-md-12 my-4">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-7">
                {% if user.name %}
                    <h5 class="pb-4"><i class="fas fa-user"></i>
                        {{ user.name }}</h5>
                {% endif %}
                <h5 class="pb-4"><i class="far fa-envelope"></i>
                    {{ user.email }}</h5>
                <h5 class="pb-4"><i class="fas fa-map-marker-alt"></i>
                    {{ user.city }},
                    {{ user.country }}</h5>
                {% if user.isPhotographer %}
                    <a href="{{ path('app_userGallery', {'username':user.username}) }}" class="btn btn-primary my-2">Go
                        to gallery</a>
                {% endif %}
            </div>
            <div class="col col-md-4">
                {% if user.avatar %}
                    <img src="{{ asset('uploads/avatars/' ~ user.avatar) }}" class="rounded profile-image"
                         alt="Profile picture">
                {% endif %}
            </div>
        </div>
    </div>


    {% if app.user and app.user.id == user.id %}
        <div>
            <div class="row">
                <div class="col col-md-9">
                    <h3 class="mb-3">Update your profile:</h3>
                </div>
                <div class="col col-md-3">
                    <button class="btn btn-primary mb-3 float-right" onclick="showForm()">Show/Hide form</button>
                </div>
            </div>
            <div class="border-bottom"></div>
            {{ form_start(form, {'attr': {'id': 'hidden-form', 'style':'display:none'}}) }}
            <div class="form-group">
                <div class="row mb-3">
                    <div class="col-5">
                        {{ form_widget(form.is_photographer) }}
                    </div>
                    <div class="col-2">
                        {{ form_label(form.avatar) }}:
                    </div>
                    <div class="col-5">
                        {{ form_widget(form.avatar) }}
                        {{ form_help(form.avatar) }}
                    </div>
                </div>
                <h4 class="my-3">Change password:</h4>
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="Update" id="user_profile_form-button" class="btn btn-success"/>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function showForm() {
            var form = document.getElementById("hidden-form");
            if (form.style.display === "none") {
                form.style.display = "block";
// bttn.style.display = "block";
            } else {
                form.style.display = "none";
// bttn.style.display = "none";
            }
        }
    </script>
{% endblock %}
