{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h1 class="dark-text">Registered users</h1>
    <div id="grad1"></div>

    <table class="table table-responsive-lg table-hover" style="color:white">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Photographer status</th>
            <th>Role</th>
            <th></th>
        </tr>
        </thead>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td><a href="{{ path('app_userProfile', {'userName':user.username}) }}" class="dark-text">{{ user.username }}</a></td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.isPhotographer==1 ? 'Enabled' : 'Disabled' }}</td>
                <td>
                    {{ 'ROLE_ADMIN' in user.roles ? 'Admin' : 'User'}}
                </td>
                <td class="text-right">
                    <a class="btn btn-danger btn-sm js-delete-btn"
                       href="{{ path('app_userDelete', { 'id': user.id }) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.js-delete-btn').on('click', function (e) {
                let username = $(this).parent().siblings('td')[0].innerHTML;
                return confirm('Are you sure you would like to delete user: ' + username + '?');
            });
        });
    </script>
{% endblock %}